"*":
  core:
    disabledPackages: [
      "autocomplete-snippets"
    ]
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabType: "hard"
  "exception-reporting":
    userId: "a53e6532-8699-4dcb-ad88-846877aef89f"
  "linter-ui-default": {}
  "norminette-linter":
    rules_CheckAlignement: true
    rules_CheckArgumentSpacing: true
    rules_CheckBeginningOfLine: true
    rules_CheckBlock: true
    rules_CheckBracketSpacing: true
    rules_CheckCallSpacing: true
    rules_CheckCase: true
  "platformio-ide-terminal":
    style:
      fontFamily: "Meslo LG M for Powerline"
