"*":
  core:
    disabledPackages: [
      "norminette-linter"
      "autocomplete-snippets"
      "snippets"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    showInvisibles: true
    tabType: "hard"
  "exception-reporting":
    userId: "40c4292f-5821-4d89-a8d7-1571518a65c3"
  "gpp-compiler":
    debug: true
  "linter-ui-default": {}
  "norminette-linter":
    rules_CheckAlignement: true
    rules_CheckArgumentSpacing: true
    rules_CheckBeginningOfLine: true
    rules_CheckBlock: true
    rules_CheckBracketSpacing: true
    rules_CheckCallSpacing: true
    rules_CheckCase: true
    rules_CheckTernaryOperator: true
    rules_CheckTopCommentHeader: true
    rules_CheckTypeDeclarationSpacing: true
    rules_CheckTypePrefixName: true
    rules_CheckUnaryOperator: true
    rules_CheckVla: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#e2eaff"
        yellow: "#cdcbb6"
      zBright:
        brightBlue: "#ccfcff"
        brightYellow: "#fffeb9"
    iconColors:
      blue: "#bcfdff"
      yellow: "#ffffba"
    style:
      fontFamily: "monofur for powerline"
      theme: "solarized-dark"
  welcome:
    showOnStartup: false
